# The provider block is where the parameters for this module are defined. 
provider "aws" {

  # AWS Region where the backend will be deployed.
  region = var.aws_region
  
  # Credentials used to access AWS.
  profile = var.aws_profile

  # Default tags used to identify resources.
  default_tags {
    tags = {
      "Project"     = var.project
      "Environment" = "${terraform.workspace}"
    }
  }
}